{{!-- nav bar --}}
<nav class="navbar navbar-dark bg-dark justify-content-end ">
  <a class="brand" href="/"><img style="height:170px;" src="/image/FUZE2.png"></a>
  <ul class="nav">
    <li id="nav_links" class="nav-item">
      <a class="nav-link" href="#">My Profile</a>
    </li>
    <li id="nav_links" class="nav-item">
      <a class="nav-link active" href="/">Team List</a>
    </li>
    <li id="nav_links" class="nav-item">
      <a class="nav-link" href="/logout">Log Out</a>
    </li>
  </ul>
</nav>

<div class="container">

  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title text-center">{{teamData.teamName}}</h5>
          <p>
            <strong>Team ID:</strong>:{{teamData.id}}</p>
          <p>
            <strong>Description:</strong> {{teamData.teamDescription}}
          </p>
        </div>
        <button class="open-button joinTeam1" data-id="{{teamData.id}}">Join Team</button>
      <h3 class='text-center'>LIST OF MEMBERS</h3>
      <ul id="teamData-list" class="list-group">
        <li data-id="{{teamData.id}}" data-member="{{teamData.member1}}" class="list-group-item">
          <a href="teamData/{{teamData.member1}}">{{teamData.member1}}</a>
          <button data-id="{{teamData.id}}" data-member="{{teamData.member1}}" class="btn btn-danger float-right" id="deleteMember1">ｘ</button>
        </li>
        <li data-id="{{teamData.id}}" data-member="{{teamData.member2}}" class="list-group-item">
          <a href="teamData/{{teamData.member2}}">{{teamData.member2}}</a>
          <button data-id="{{teamData.id}}" data-member="{{teamData.member2}}" class="btn btn-danger float-right" id="deleteMember2">ｘ</button>
        </li>
        <li data-id="{{teamData.id}}" data-member="{{teamData.member3}}" class="list-group-item">
          <a href="teamData/{{teamData.member3}}">{{teamData.member3}}</a>
          <button data-id="{{teamData.id}}" data-member="{{teamData.member3}}" class="btn btn-danger float-right" id="deleteMember3">ｘ</button>
        </li>
        <li data-id="{{teamData.id}}" data-member="{{teamData.member4}}" class="list-group-item">
          <a href="teamData/{{teamData.member4}}">{{teamData.member4}}</a>
          <button data-id="{{teamData.id}}" data-member="{{teamData.member4}}" class="btn btn-danger float-right" id="deleteMember4">ｘ</button>
        </li>
        <li data-id="{{teamData.id}}" data-member="{{teamData.member5}}" class="list-group-item">
          <a href="teamData/{{teamData.member5}}">{{teamData.member5}}</a>
          <button data-id="{{teamData.id}}" data-member="{{teamData.member5}}" class="btn btn-danger float-right" id="deleteMember5">ｘ</button>
        </li>
        <li data-id="{{teamData.id}}" data-member="{{teamData.member6}}" class="list-group-item">
          <a href="teamData/{{teamData.member6}}">{{teamData.member6}}</a>
          <button data-id="{{teamData.id}}" data-member="{{teamData.member6}}" class="btn btn-danger float-right" id="deleteMember6">ｘ</button>
        </li>
      </ul>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>